.section_carroseul{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    background-color: #233842;
    border-radius: 0.5rem;
    margin-top: 20px;
}
.section_carroseul:nth-child(2n + 1){
    background-color: rgba(0, 0, 0, 0);
}
.section_carroseul h2{
    font-size: 32px;
    font-weight: 300;
    margin: 5px 0 30px 0;
}
.section_carroseul > .center{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: none;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.section_carroseul > .center::-webkit-scrollbar{
    display: none;
}
.list_movie{
    min-width: 250px;
    margin-right: 10px;
}
.list_movie img{
    width: 100%;
    object-fit: cover;
    height: 400px;

}
.list_movie button{
    width: 100%;
    min-height: 40px;
    border: none;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: -5px;
    background-color: #003350;
    cursor: pointer;
}
.list_movie button:hover{
    background-color: #00273d;
    transition: 0.6s;
}
.group_btn{
    width: 86vw;
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.group_btn button{
    height: 60px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 5px 10px;
    font-size: 40px;
    border: none;
    outline: none;
}
.group_btn button:hover{
    transform: scale(1.01);
}

@media screen and (max-width: 785px) {
    .group_btn{
        display: none;
    }
}