@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
html,body{
  width: 100%;
  height: 100vh;
  background-color: #001927;
}
.center{
  width: 100%;
  max-width: 86vw;
  margin: 0 auto;
}
.load{
  width: 100%;
  text-align: center;
  margin: 50px 0;
}
.load h2{
  font-size: 28px;
  font-weight: 300;
}
.load h2:after{
  content: '...';
}